<!DOCTYPE html>
<html>
  <style>
    html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    }
    .backgroundrect {
    width: inherit;
    padding: inherit;
    display: block;
    margin: 0 auto;
    }
    #toprect {
    height: 25%;
    background-color: #3D2117;
    }
    #middlerect {
    height: 50%;
    background-color: #FEFCE8;
    }
    #bottomrect {
    height: 25%;
    background-color: #3D2117;
    }
    hline {
    }
  </style>
  <head>
    <script type="text/javascript" src="https://raw.githubusercontent.com/mudcube/MIDI.js/master/build/MIDI.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
  </head>
  <body>
    <!-- Add the background. -->
    <div id="toprect" class="backgroundrect"></div>
    <div id="middlerect" class="backgroundrect"></div>
    <div id="bottomrect" class="backgroundrect"></div>
    <div id="viz"></div>
    <script type="text/javascript" src="/static/music.js"></script>
  </body>
</html>
